.inputdemoErrors .inputErrorsApp {
  min-height: 48px;
}

.inputdemoErrors md-input-container>p {
  font-size: 0.8em;
  text-align: left;
  width: 100%;
}

.md-button._md-nav-button {
  font-weight: bold;
}

.selected {
  background-color: rgb(2, 152, 179);
  color: #FFF;
}
